.user .change-user {
  text-align: left;
  a {
    text-decoration: underline;
  }
}

#turn-back-panel {
  height: 30px;
  line-height: 30px;

  background-color: #2e8965;
  text-align: center;
  a {
    color: white;
    text-decoration: underline;
  }
}